/*Sign Up*/
section {
    background-image: url("Images/pexels-photo-256424.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30%; 
    height: 70%;
    background-image: url("Images/Transparent Panel 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
h1 {
    font-size:2.5vw;
    font-family:'Pacifico';  
    top:0; 
    margin-bottom:10px;
    text-align:center;
    display:block;
}
.container .inner1{
        width: 60%;
        height: 100%;
        position: absolute;
        margin-top:5%;
        padding-left:20%;
        text-align: center;
}
input[type=text], input[type=password] {
   width:100%;
   height:8%;
   margin-bottom:3%;
   border:0;
   border-bottom:1px solid #4b4040;
  
}
input[placeholder] {
    font-size: 1.0vw;
    padding-left: 3%;
    font-family:'Crete Round';
}
.btn {
    width:60%;
    height:9%;
    font-family:'Crete Round';
    margin-top:10px;
    margin-bottom:9vh;
    font-size:1.1vw;
    background-color:#12a312;
    color:white;
    border:1px solid;

}

/*------------------------LogIn--------------------------------*/
body {
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
}

.cover{
    background:url("Images/pexels-photo-256424.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
#Image1{
    width:24vw;
    height:60vh;
}
.elements{
    position:absolute;
    top:0;bottom:0;right:0;left:0;
    display:flex;
    align-items:center;
    justify-content:center;
}
.intro{
    width:24vw;
    height:60vh;
    box-shadow:black 0px 40px 60px;
}

#LabelLogIn{
    display:block;
    padding-top:7vh;
    padding-left:7.5vw;
    font-size:6vw;
    font-size:8vh;
    font-family:'Leckerli One','Algerian';
    text-shadow:black 0px 20px 20px;
}
.txt1{
    margin-top:4vh;
    margin-left:2vw;
}
.txt2{
    margin-top:7.4vh;
    margin-left:2vw;
}

.txt1[placeholder]{
    font-family:'Oleo Script Swash Caps';
    font-size:1.5vw;
    padding-left:6vw;
}
.txt2[placeholder] {
    font-family:'Oleo Script Swash Caps';
    font-size:1.5vw;
    padding-left:8vw;
}
.txtstyle{
    width:15vw;
    height:6vh;
    border:0;
    border-radius:4%;
    background-color:rgba(252,251,251,0.80);
    box-shadow:black 0px 30px 50px;
}
.btnstyle{
    margin-top:9vh;
    width:11vw;
    height:7vh;
    margin-left:0.6vw;
    font-family:'Oleo Script Swash Caps';
    font-size:2vw;
    border:0px;
    color:black;
    text-shadow:black 0px 10px 10px;
    background-color:rgba(255,255,255,0.57);
}
.btnstyle:hover{
    background-color:transparent;
    box-shadow:black 0px 90px 80px;
}
/*------------------------------------------------------*/
/*Main*/
#pageContent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabelMain {
    margin-top:5%;
    width: 83%;
    height: 656px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtarea1 {
        margin-top:0%;

}